.compose{
    position: absolute;
    bottom:0;
    right: 50px;
    background-color:#404040 ;
    width:40%;
    
   
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
}
.compose_header{
  
    padding :13px;
    display: flex;
    color:gray;
    align-items: center;
    justify-content: space-between;
}
.compose_header h3{
    color:whitesmoke;
    font-size: 13px;
}
.compose_button{
   background-color: #3079ed !important; 
   text-transform: capitalize  !important;
   margin: 15px 0px 0px 15px  !important;
}
.compose_close{
    cursor: pointer;
}
.compose form{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.compose form input{
    display: flex;
    padding: 10px;
    border: none;
    height: 30px;
    
   align-items: stretch;
   
    border-bottom: 1px solid whitesmoke;
    outline: none;
}
.compose_message{
height: 100px !important;
}
.compose_errors{
    width: 99.1%;
    background-color: whitesmoke;
    color:red;
    text-align: right;
    padding:2px;
    
}



