.emailrow{
    display:flex;
    
   height: 50px;
   border-bottom: 1px solid whitesmoke;
   cursor: pointer;
   align-items: center;
   z-index: 999;
}
.email_title{
    padding-right: 10px;
    font-size: 13px;

}
.emailrow:hover{
    border-top: 1px solid whitesmoke;
    box-shadow:  0px 4px 4px -2px rgba(0,0,0,0.24);
}
.emailrow_options{
    display: flex;
}
.emailrow_message{
    display: flex;
    flex:0.8;
    align-items: center;
    font-size: 13px;
    
}
.emailrow_message h4{
  display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right:10px ;
   
}
.emailrow_description{
    
    font-weight: 400;
    color: gray;
}
.emailrow_time{
padding-right: 15px;
font-size: 13px;
font-weight: bold;
}