.emaillist{
    flex: 1;
    overflow:scroll;
}
.emaillist::-webkit-scrollbar{
    display: none;
}
.emaillist_settings{
    position: sticky;
    display: flex;
    top:0;
    border-bottom: 1px solid whitesmoke;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emaillist_section{
    display: flex;
    position: sticky;
    top:0;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;


}
.emaillist_list{
    padding-bottom: 20px;
}